body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: rgb(255, 255, 255);
}
    
.agentList {
    grid-row: span 5 / span 5;
    padding-left: 10px;
    padding-right: 5px;
    align-self: auto;
    background-color: rgb(131, 131, 131);
}
.agentList ul {
    list-style-type: none;
    padding: 0;
}
.informacionProtocolo {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    color: white;
    background-color: rgb(248, 79, 60);
    padding-left: 10px;
    padding-right: 5px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333;
    border: 3px solid #5a5a5a;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.agentImage {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.valorantInfo {
    grid-row: span 5 / span 5;
    grid-column-start: 6;
    background-color: seagreen;
}

a {
    color: #66d9ef;
    text-decoration: none;
  }
  
  a:hover {
    color: #4CAF50;
  }

.valorantInfo {
    background-color: #1e1e1e; /* Dark background color */
    color: #ffffff; /* Light text color for contrast */
    padding: 15px;
    border-radius: 10px;
}
.contacto
{
    list-style:none
}
  /* pie de pagina */
  footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: #fff;
  }
  /* scroll suavizado al usar un hypervinculo*/
  a[href*="#"] {
    scroll-behavior: smooth;
  }

